* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ul li {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 40px;
  background-color: rgb(196, 245, 105, 0.4);
}

input,
input::placeholder {
  font-size: 20px;
  padding: 10px;
  font-style: italic;
}

.main-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 30px;
  background: url('./bgimg.jpg') no-repeat;
  background-size: cover;
  opacity: 0.8;
  transition: width 2s;
}

.main-container:hover {
  width: 900px;
}

.main-container section {
  padding: 30px 2px;
  align-items: center;
}

.left {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 60px;
  font-size: 22px;
  transition: width 2s;
}

.heading h2 {
  text-shadow: 1px 1px 2px red, 0 0 1em rgba(0, 140, 255, 0.479), 0 0 0.2em rgb(179, 255, 0);
  background-color: rgb(247, 212, 212, 0.7);
}

.scoreboard {
  border: 3px solid rgb(196, 37, 37);
  margin: 20px 0;
  width: 70%;
}

.scoreboard li {
  padding: 10px;
}

.scoreboard li p {
  font-size: 16px;
  font-weight: bold;
  color: green;
}

ul > li:nth-child(odd) {
  background-color: rgb(230, 198, 136);
}

ul > li:nth-child(even) {
  background-color: rgb(247, 245, 242);
}

.input-heading {
  margin: 20px;
  color: yellow;
}

.input-score {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 32px;
}

#name,
#score {
  width: 70%;
  border: 3px solid #000;
}

.btn {
  background-color: yellow;
  border: 2px solid #000;
  color: #000;
  padding: 10px 36px;
  box-shadow: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  font-weight: 600;
}

.submit-btn {
  display: flex;
  width: 30%;
  padding: 10px 28px;
  align-self: center;
}
